<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Currency Current Rate | Currency Conversion | Forex {% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>
<body>
    <div class="navbar">
        <div class="section-inner clearfix">
            <nav>
                <a href="/">Home</a>
            </nav>
        </div>
    </div>
<div class="col-lg-3 col-sm-1"></div>
<div class="col-lg-6 col-sm-10">
    {% block content %}

    {% endblock %}
    </div>
<div class="col-lg-3 col-sm-1"></div>
    {% block footer %}

    <div class="footer">
        <div class="section-inner clearfix">
            <hr>
            <p>&copy; ArshinTech</p>
        </div>
    </div>

    {% endblock %}

</body>
</html>
